<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Historia</title>
    <link rel="stylesheet" href="static/stylesheet.css">
  </head>
  <body>

        <a href="/" >Strona główna</a>
        <br>

        <h1>System Accountant</h1>
        <h2>Historia operacji</h2>
      <br>
      <table style="width:100%">
    <tr>
        <th style="width:10%">Lp.</th>
        <th style="width:90%">Operacja</th>
    </tr>
                  {% for element in history %}
    <tr>
        <td style="text-align:left;" scope="row"> {{ loop.index }} </td>
        <td style="text-align:left;"> {{ element}} </td>
    </tr>
                  {% endfor %}
</table>

  </body>
</html>