{% extends "base.html" %}

{% block title %} Accountant {% endblock %}

{% block content %}
        <h2>Historia operacji</h2>
      <br>
      <table style="width:100%">
    <tr>
        <th style="width:5%">Lp.</th>
        <th style="width:95%">Operacja</th>
    </tr>
                  {% for element in history %}
    <tr>
        <td style="text-align:left;" scope="row"> {{ loop.index }} </td>
        <td style="text-align:left;"> {{ element}} </td>
    </tr>
                  {% endfor %}
</table>
{% endblock %}