<!DOCTYPE html>
<html>
<head>
	<title>Accountant</title>
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">-->
    <link rel="stylesheet" href=“stylesheet.css”>
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">-->

</head>

<body>
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>-->
<h1>System Accountant</h1>
	<h2>Strona główna!!!!!!!!!!!</h2>
	<br>
	<p>
		Aktualny stan magazynowy: <br>
<br>
Aktualne saldo: {{saldo}} PLN<br> <br>
Trzy formularze: <br>
a. Formularz zakupu: z polami: nazwa produktu, cena jednostkowa, liczba sztuk. <br /> <br />
b. Formularz sprzedaży: z polami: nazwa produktu, cena jednostkowa, liczba sztuk. <br /> <br />
c. Formularz zmiany salda: z polami: komentarz, wartość (tylko liczbowa).

Przepraszam za niejasność w mojej poprzedniej odpowiedzi. Aby utworzyć tabelę z 4 kolumnami wyśrodkowanymi w poziomie i wierszami, należy dodać następujący kod HTML do pliku HTML:


<table style="margin: auto;">
  <tr>
    <td>Column 1</td>
    <td>Column 2</td>
    <td>Column 3</td>
    <td>Column 4</td>
  </tr>
  <tr>
    <td>Row 1, Column 1</td>
    <td>Row 1, Column 2</td>
    <td>Row 1, Column 3</td>
    <td>Row 1, Column 4</td>
  </tr>
</table>


	</p>
</body>
</html>
