{% extends "bootstrap/base.html" %}

<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>Accountant</title>
        <link rel="stylesheet" href="static/stylesheet.css">
    {% endblock %}
</head>

<body>
    <div class="container">
        {% block content %}



    <a href="historia" >historia</a>
    <br>
    <h1>System Accountant</h1>
        <h2>Strona główna</h2>

<div>

<h3>Aktualne saldo:</h3>
<br>
    <h3>Aktualny stan magazynowy: </h3>
    <table style="width:80%" align="center">
    <tr>
        <th style="width:3%">Lp.</th>
        <th style="width:50%">Nazwa produktu</th>
        <th style="width:15%">Cena</th>
        <th style="width:10%">Ilość sztuk</th>
    </tr>
        {% for key, value in stany.items() %}
        <tr>
        <td style="text-align:left;" scope="row"> {{ loop.index }}</td>
        <td style="text-align:left;">{{ key }}</td>
        <td style="text-align:left;">{{value['cena'] }} zł</td>
        <td style="text-align:left;">{{ value['ilosc'] }}</td>
        </tr>
        {% endfor %}
</table>

 <br>
 <br>


    <form>
      <h2>Formularz zakupu</h2>
	  <label style="width: calc(50% - 10px)" for="productNameBuy">Nazwa produktu:</label>
	  <label  style="width: calc(15% - 10px)" for="unitPriceBuy">Cena jednostkowa:</label>
	  <label  style="width: calc(10% - 10px)" for="quantityBuy">Liczba sztuk:</label>
	  <br>

	  <input   style="width: calc(50% - 10px)" type="text" id="productNameBuy"  required>
	  <input   style="width: calc(15% - 10px)" type="number" id="unitPriceBuy" required>
	  <input   style="width: calc(10% - 10px)" type="number" id="quantityBuy" required>

	  <button type="submit">Złóż zanówienie</button>
    </form>

    <br>

    <form>
      <h2>Formularz sprzedaży</h2>
	  <label style="width: calc(50% - 10px)" for="productNameSell">Nazwa produktu:</label>
	  <label  style="width: calc(15% - 10px)" for="unitPriceSell">Cena jednostkowa:</label>
	  <label  style="width: calc(10% - 10px)" for="quantitySell">Liczba sztuk:</label>
	  <br>

	  <input   style="width: calc(50% - 10px)" type="text" id="productNameSell" required >
	  <input   style="width: calc(15% - 10px)" type="number" id="unitPriceSell" required>
	  <input   style="width: calc(10% - 10px)" type="number" id="quantitySell" required>

	  <button type="submit">Złóż zanówienie</button>
    </form>

    <br>
            <form>
       <h2>Formularz zmiany salda</h2>
	  <label style="width: calc(65% - 10px)" for="comment">Komentarz:</label>
	  <label  style="width: calc(10% - 10px)" for="value">Wartość:</label>
	  <br>

	  <input   style="width: calc(65% - 10px)" type="text" id="comment" >
	  <input   style="width: calc(10% - 10px)" type="number" id="value" required>

	  <button type="submit">Zatwierdź zmianę</button>
       <!--<button style="margin-left: 120px;" type="submit">Zatwierdź zmianę</button>/-->
    </form>

<br>

</div>
        {% endblock %}

</body>
</html>
