{% extends "base.html" %}

{% block title %} Accountant {% endblock %}

{% block content %}
<div class="container">
<h3>Aktualne saldo:  {{ konto }} PLN</h3>
<br>
        <h3>Aktualny stan magazynowy: </h3>
    <table  style="width:80%" align="center">
        <tr>
            <th style="width:3%">Lp.</th>
            <th style="width:50%">Nazwa Produktu</th>
            <th style="width:15%">Cena</th>
            <th style="width:10%">Ilość</th>
        </tr>
        {% for produkt in magazyn %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ produkt.product }}</td>
            <td>{{ produkt.price }} zł</td>
            <td>{{ produkt.quantity }}</td>
        </tr>
        {% endfor %}
    </table><br>
    <br>
</div>
{% endblock %}
