<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mr-auto">
        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
        <a class="nav-link" href="{{ url_for('zakup') }}">Zakup</a>
        <a class="nav-link" href="{{ url_for('sprzedaz') }}">Sprzedaz</a>
        <a class="nav-link" href="{{ url_for('saldo') }}">Saldo</a>
        <a class="nav-link" href="{{ url_for('historia') }}">Historia</a>
        <a class="nav-link" href="{{ url_for('about') }}">About</a>
      </div>
      <div class="navbar-text mx-auto my-2 my-lg-0" style=" font-size: 2.2em; font-weight: bold; color: #6610f2;">
        System Accountant
      </div>
      <div class="navbar-nav ml-auto"></div>
    </div>
  </div>
</nav>

<br>