<!DOCTYPE html>
<html>
<head>

        <title>Accountant</title>
        <link rel="stylesheet" href="static/stylesheet.css">

</head>

<body>

{% for message in get_flashed_messages() %}
    <div>{{ message }}</div>
{% endfor %}

    <a href="/" >Strona główna</a>
   <a href="zakup" >Zakup</a>
    <a href="sprzedaz" >Sprzedaż</a>
    <a href="saldo" >Saldo</a>
    <a href="historia" >Historia</a>
    <br>
    <h1>System Accountant</h1>

<div>

<h3>Aktualne saldo:  {{ konto }} PLN</h3>
<br>
<br>
    <br>
<form action="/saldo" method="POST">
       <h2>Formularz zmiany salda</h2>
	  <label style="width: calc(65% - 10px)" >Komentarz:</label>
	  <label  style="width: calc(10% - 10px)" >Wartość:</label>
	  <br>

	  <input   style="width: calc(65% - 10px)" type="text" name="comment" >
	  <input   style="width: calc(10% - 10px)" type="number" name="value" required>

	  <button type="submit">Zatwierdź zmianę</button>
    </form>

<br>

</div>


</body>
</html>
