<!DOCTYPE html>
<html>
<head>

        <title>Accountant</title>
        <link rel="stylesheet" href="static/stylesheet.css">

</head>

<body>

{% for message in get_flashed_messages() %}
    <div>{{ message }}</div>
{% endfor %}

    <a href="/" >Strona główna</a>
   <a href="zakup" >Zakup</a>
    <a href="sprzedaz" >Sprzedaż</a>
    <a href="saldo" >Saldo</a>
    <a href="historia" >Historia</a>
    <br>
    <h1>System Accountant</h1>

<div>
 <br>
 <br>
<form action="/sprzedaz" method="POST">  {# Tworzymy formularz, który przy wysłaniu strzela do endpointu /formularz z metodą POST i danymi z formularza #}
      <h2>Formularz sprzedaży</h2>
	  <label style="width: calc(50% - 10px)" >Nazwa produktu:</label>
	  <label  style="width: calc(10% - 10px)" >Liczba sztuk:</label>
	  <br>

	  <input   style="width: calc(50% - 10px)" type="text" name="productNameSell" required >
	  <input   style="width: calc(10% - 10px)" type="number" name="quantitySell" required>
	  <button type="submit">Zatwierdź</button>
    </form>

</div>

</body>
</html>
