{% extends "base.html" %}

{% block title %} Accountant {% endblock %}

{% block content %}
<h3>Aktualne saldo:  {{ konto }} PLN</h3>
 <br>
<form action="/zakup" method="POST">
      <h2>Formularz zakupu</h2>
	  <label style="width: calc(50% - 10px)" >Nazwa produktu:</label>
	  <label  style="width: calc(15% - 10px)" >Cena jednostkowa:</label>
	  <label  style="width: calc(10% - 10px)" >Liczba sztuk:</label>
	  <br>

	  <input   style="width: calc(50% - 10px)" type="text" name="productNameBuy"  required>
	  <input   style="width: calc(15% - 10px)" type="number" name="unitPriceBuy" required>
	  <input   style="width: calc(10% - 10px)" type="number" name="quantityBuy" required>

	  <button type="submit"  class="btn btn-primary">Zatwierdź</button>
    </form>
{% endblock %}